<div class="container">
    <div class="main-body">
<!--     
          Breadcrumb 
          <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
              <li class="breadcrumb-item active" aria-current="page">User Profile</li>
            </ol>
          </nav>
           /Breadcrumb 
     -->
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>{{beneficiary.beneficiaryName}}</h4><h5>ID:  {{beneficiary.beneficiaryId}}</h5>
                      <p class="text-secondary mb-1">{{role}}</p>
                      <p class="text-secondary mb-1">MemberID: {{beneficiary.memberId}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <ul class="list-group list-group-flush">
                  
                </ul>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">State</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{beneficiary.beneficiaryState}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Country</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{beneficiary.beneficiaryCountry}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Address</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{beneficiary.beneficiaryAddress}}
                    </div>
                  </div>
                 <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">PAN Number</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{beneficiary.beneficiaryPAN}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">DOB</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{beneficiary.beneficiaryDOB}}
                    </div>
                  </div>
                  
                </div>
              </div>

          </div>

        </div>
    </div>
