<div class="container">
    <div id="outerDiv">
        <div id="innerDiv">

            <h1 id="reg">Beneficiary</h1>
                <h3 id="subHeader">Add beneficiary for Member</h3>
                <form name="myForm" #myForm="ngForm" #regForm='ngForm' (ngSubmit)='onSubmit(myForm)'>
                    <div class="form">
                        <!-- First Divison -->
                        <div class="column">
                            <label for="name">Beneficiary Name</label><br />
                            <input name="policy" id="name" type="text" placeholder="Enter Full Name" required
                                [(ngModel)]="beneficiary.beneficiaryName" required #name="ngModel">
                                <div *ngIf="name.errors?.['required']">
                                    <span>name is required.*</span> </div><br /><br />
                            <label for="mobilenumber">Beneficiary Relation</label><br />
                            <input name="type" type="text" placeholder="Select Relation" required #relation="ngModel"
                                [(ngModel)]="beneficiary.beneficiaryRelation">
                                <div *ngIf="relation.errors?.['required']">
                                    <span>relation is required.*</span> </div><br /><br />

                            <label for="idtype">Beneficiary PAN</label><br />
                            <input name="amount" type="text" placeholder="Enter PAN" required #pan="ngModel"
                                [(ngModel)]="beneficiary.beneficiaryPAN">
                                <div *ngIf="pan.errors?.['required']">
                                    <span>PAN is required.*</span> </div><br /><br />
                        </div>
                        <!-- Second Divison -->
                        <div class="column">
                            <label for="dob">Beneficiary DOB</label><br />
                            <input name="dob" type="date" placeholder="Enter Date" required #dob="ngModel"
                                [(ngModel)]="beneficiary.beneficiaryDOB">
                                <div *ngIf="dob.errors?.['required']">
                                    <span>DOB is required.*</span> </div><br /><br />
                            <label for="idnumber">Beneficiary Address</label><br />
                            <input name="DT" type="text" placeholder="Enter Address" required #DT="ngModel"
                                [(ngModel)]="beneficiary.beneficiaryAddress">
                                <div *ngIf="DT.errors?.['required']">
                                    <span>Address is required.*</span> </div><br /><br />
                        </div>
                        <!-- Third Divison -->
                        <div class="column">
                            <label for="email">Beneficiary State</label><br />
                            <input name="email" type="text" placeholder="Enter State" required #state="ngModel"
                                [(ngModel)]="beneficiary.beneficiaryState">
                                <div *ngIf="state.errors?.['required']">
                                    <span>state is required.*</span> </div><br /><br />
                            <label for="issuestate">Beneficiary Country</label><br />
                            <input name="claimerID" type="text" placeholder="Enter Country" required
                                [(ngModel)]="beneficiary.beneficiaryCountry" #country="ngModel">
                                <div *ngIf="country.errors?.['required']">
                                    <span>country is required.*</span> </div><br />
                        </div>
                    </div>
                    <button type="submit" [disabled]="!regForm.valid">Add Beneficiary →</button>
                </form>
        </div>
    </div>
</div>
<div class="footer">
    <div class="social">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-google"></a>
        <a href="#" class="fa fa-linkedin"></a>
        <a href="#" class="fa fa-youtube"></a>
    </div>
    <p style="color: white;"> ©2023 developed & Managed by Insurence Claim Team</p>
</div>