<form class="form" name="myForm" #myForm="ngForm" #regForm='ngForm' (ngSubmit)='onSubmit(myForm)'>
    <h2>CONTACT US</h2>
    <p type="Member ID:"><input name="id" required type="text" placeholder="Write your ID here.." [(ngModel)]="mail.mailerId"/></p>
    <p type="Email:"><input  name="id" required type="text" placeholder="Let us know how to contact you back.." [(ngModel)]="mail.mailerEmail"/></p>
    <p type="Message:"><input name="id" required type="text" placeholder="What would you like to tell us.." [(ngModel)]="mail.mailerMessage"/></p>
    <button type="submit" [disabled]="!regForm.valid">Send Message</button>
    <div>
      <span class="fa fa-phone"></span>+918077619658
      <span class="fa fa-envelope-o"></span> contact@claims.com
    </div>
  </form>
  <div class="footer">
    <p style="color: white;" id="footer"> ©2023 developed & Managed by Insurence Claim Team</p>
  </div>